@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: Sen, sans-serif;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #c9ced3;
}

.container {
	width: 480px;
	height: 630px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

/* Form */
form {
	width: 90%;
}

.form-group {
	height: 65px;
}

label {
	position: relative;
	bottom: 3px;
}

input {
	width: 100%;
	height: 34px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
	box-sizing: border-box;
	transition: all 0.3s;
}

input:valid {
	border: 1px solid green;
}

input:invalid {
	border: 1px solid red;
}

button {
	cursor: pointer;
	color: white;
	background-color: black;
	border: none;
	border-radius: 5px;
	height: 50px;
	width: 100%;
	font-family: Sen, sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
	margin-top: 5px;
}

button:hover {
	filter: brightness(200%);
	background-color: rgb(22 22 22);
}

button:focus {
	outline: none;
}

.message-container {
	border: 1px solid black;
	border-radius: 5px;
	width: 90%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	color: black;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
	.container {
		margin-left: 15px;
		margin-right: 15px;
		height: 100%;
	}
	form {
		width: 85%;
	}

	.form-group {
		height: 60px;
	}

	.message-container {
		font-size: 14px;
		width: 85%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
